<nav class="w-[100%] h-[5%] bg-purple-300 flex justify-center items-center gap-16">
    <a class="text-xl py-2" href="/">Home</a>
    <a class="text-xl py-2" href="/createContact">Create</a>
    <a class="text-xl py-2" href="/readall">Contacts</a>
</nav>