<%- include('./partials/header') %>

<%- include('./partials/nav') %>
<div class="w-[100%] h-[90vh] flex justify-center items-center">

  <h1 class="text-4xl text-purple-700">Contact Management</h1>
</div>

<%- include('./partials/footer') %>